* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu Mono', monospace;
  /* font-family: Helvetica, sans-serif; */
}


.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;

  /* sticky header */
  position: sticky;
  top: 0px;
  
  /* debug */
  background-color: #5995DA;
  /* border: solid black; */
}

.item {
  grid-column: 1/6;
  padding-left: 2em;

  /* debug */
  /* background-color: #BCE0FE; */
}

.menu {
  place-self: end;
  grid-column: 7/13;

  /* debug */
  /* background-color: #BCE0FE; */
}

#navlist {
  list-style-type: none;
  display: flex;
  padding: 0 2em 0 2em;
  justify-content: center;

  /* debug */
  /* border: solid black; */
}
#navlist li + li:before { /* display comma separated list */
  content: ", ";
}
section {
  padding: 0 1em;
  /* margin: 0; */
  display: flex;
  flex-direction: column;
}

#landing {
  color: #fff;
  height: 100vh;
  font-size: large;
  
  /* debug */
  background-color: #7296B3;
}
#about {
  color: black;
  height: 100vh;
  width: 100%;
  font-size: large;
  padding-top: 50px;


  /* debug */
  background-color:#CDE5FA;
}

#contact {
  color: white;
  height: 100vh;
  
  font-size: large;
  padding-top: 50px;

  /* debug */
  background-color:#4472A6;
}